<script language="javascript" type="text/javascript" src="static/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="static/form.js"></script>

<p>
    <table>
    <tr><th><label for="number">Number: </label></th><td><input type="text" id="number" name="number" size="10"/></td></tr>
    <tr><th></th><td><button id="Submit Number" name="Submit">Submit</button></td></tr>
    </table>
</p>

<p>
    <a href="/generate-data/10">Generate 10 Numbers</a><br/>
    <a href="/generate-data/10">Generate 25 Numbers</a><br/>
    <a href="/generate-data/10">Generate 50 Numbers</a>
</p>
<hr/>
<p><a href="/moving-averages">View Moving Averages Graph</a></p>
<p><a href="/moving-averages/json">View JSON data</a></p>