<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="static/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="static/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jqplot.canvasTextRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jqplot.json2.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jqplot.cursor.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jqplot.highlighter.min.js"></script>
<script language="javascript" type="text/javascript" src="static/jqplot.enhancedLegendRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="static/app.js"></script>
<link rel="stylesheet" type="text/css" href="static/jquery.jqplot.min.css" />

<div id="chartdiv" style="height:500px;width:800px;"></div>
<p>Click and drag to zoom. Double click to reset.</p>
