$def with (averages)

$if averages:
    <h1>Moving Averages</h1>
    <table border="1">
        <tr>
            <th>Simple</th>
            <th>Cumulative</th>
            <th>Weighted</th>
            <th>Exponential</th>
        </tr>
        $for i in reversed(range(0,len(averages['simple']))):
        <tr>
            <td>$averages['simple'][i]</td>
            <td>$averages['cumulative'][i]</td>
            <td>$averages['weighted'][i]</td>
            <td>$averages['exponential'][i]</td>
        </tr>
    </table>
    <br/>
    <h3>Last 10 Numbers</h3>
    <table border="1">
        <tr>
        $for i in xrange(1,min(11,len(averages['numbers']))):
            <td>$averages['numbers'][-i]
        </tr>
    </table>
$else:
    No data.
